<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    counter {{ session["counter"] }}
    <!-- <a id="reset" href="/clear">Reset</a> -->
    <form action="/clear" method= "POST">
        <button name="clear" type="submit"> clear views</button>
    </form>
    <form action="/add" method= "POST">
        <button name="add" type="submit"> add 3 views</button>
    </form>
    
</body>
</html>